.blinking{
    animation:blinkingText 0.9s infinite;
}
@keyframes blinkingText{
    0%{   color: #000;  }
    49%{  color: transparent; }
    50%{  color: transparent; }
    99%{  color:transparent;  }
    100%{ color: #000;  }
}

#overlay {
    background: #ffffff;
    color: #0AA2DD;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
    opacity: .80;
}
.spinner {
    margin: 0 auto;
    height: 64px;
    width: 64px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid firebrick;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}